body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body-background {
  background: #FEDF8F;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.main-welcome-container {
  width: 70%;
  height: 650px;
  background: #FEDF8F;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.logo-container {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 10px;
}

.logo {
  border-radius: 50%;
  border: 3pt solid black;
  width: 140px;
  height: 140px;
  transform: rotate(-20deg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 10px;
  background: white;
}

.welcome-logo {
  width: 400px;
  height: 400px;
}

.play-btn a {
  color: white;
  text-decoration: none;
}

.play-btn {
  background: black;
  color: white;
  height: 40px;
  width: 60px;
  border-radius: 30px 30px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin-bottom: 25px;
  margin-top: 40px;
  font-size: 12pt;
}

.main-game-container {
  width: 70%;
  height: 600px;
  border: 10pt solid #FEDF8F;
  background: rgb(248, 207, 214);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  display: none;
}

.game-box {
  display: flex;
  justify-content: center;
  align-items:  center;
  flex-direction: column;
  width: 100%;
  height: 400px;
}

.boil-egg-btn a {
  color: black;
  text-decoration: none;
}

.boil-egg-btn {
  background: white;
  color: black;
  border: 1.5pt solid black;
  height: 40px;
  width: 110px;
  border-radius: 30px 30px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin-bottom: 25px;
  margin-top: 40px;
  font-size: 12pt;
}

.game-box-2 {
  display: none;
}

.game-box-2-on-click {
  display: flex;
  justify-content: space-between;
  align-items:  center;
  flex-direction: column;
  width: 100%;
  height: 400px;
}

.remove-egg-btn {
  background: white;
  color: black;
  border: 1.5pt solid black;
  height: 40px;
  width: 110px;
  border-radius: 30px 30px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin-bottom: 25px;
  margin-top: 40px;
  font-size: 12pt;
}

.remove-egg-btn a {
  color: black;
  text-decoration: none;
}

.game-box-3 {
  display: none;
}

.game-box-3-on-click {
  display: flex;
  justify-content: space-between;
  align-items:  center;
  flex-direction: column;
  width: 100%;
  height: 400px;
}

.eat-egg {
  background: white;
  color: black;
  border: 1.5pt solid black;
  height: 40px;
  width: 110px;
  border-radius: 30px 30px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin-bottom: 25px;
  margin-top: 40px;
  font-size: 12pt;
}

.eat-egg a {
  color: black;
  text-decoration: none;
}

.game-box-4 {
  display: none;
}

.game-box-4-on-click {
  display: flex;
  justify-content: space-between;
  align-items:  center;
  flex-direction: column;
  width: 100%;
  height: 400px;
}

.again-btn {
  background: white;
  color: black;
  border: 1.5pt solid black;
  height: 40px;
  width: 110px;
  border-radius: 30px 30px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin-bottom: 25px;
  margin-top: 40px;
  font-size: 12pt;
}

.again-btn a {
  color: black;
  text-decoration: none;
}

.try-again-btn {
  background: white;
  color: black;
  border: 1.5pt solid black;
  height: 40px;
  width: 110px;
  border-radius: 30px 30px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin-bottom: 25px;
  margin-top: 40px;
  font-size: 12pt;
}

.try-again-btn a {
  color: black;
  text-decoration: none;
}

.try-again-display-non {
  display: none;
}

.game-box-undercooked-display-none {
  display: none;
}

.game-box-undercooked {
  display: flex;
  justify-content: space-between;
  align-items:  center;
  flex-direction: column;
  width: 100%;
  height: 400px;
}

.undercooked-egg-btn {
  background: white;
  color: black;
  border: 1.5pt solid black;
  height: 40px;
  width: 110px;
  border-radius: 30px 30px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin-bottom: 25px;
  margin-top: 40px;
  font-size: 12pt;
}

.undercooked-egg-btn a {
  color: black;
  text-decoration: none;
}